.assets-list {
  width: 100%;
  overflow: auto;
}

.assets-list tbody {
  color: var(--text-color);
  background-color: var(--secondary-color);
}

.assets-list thead {
  background-color: var(--secondary-color);
  color: var(--text-color);
}

.assets-list th {
  text-align: start;
  padding: var(--spacing-small);
}
.assets-list table {
  width: 100%;
}

.assets-list td {
  padding: var(--spacing-small);
}
