:root {
  /* Light Theme */
  --bg-color: #bef4fd; /* Cream color */
  --secondary-bg-color: #c2b280; /* Cream color */
  --text-color: #333; /* Dark text */
  --primary-color: #004c82; /* Dark purple */
  --secondary-color: rgba(255, 255, 255, 0.3); /* Grey for secondary elements */

  /* Spacing */
  --spacing-small: 8px;
  --spacing-medium: 16px;
  --spacing-large: 32px;

  /* Typography */
  --font-size-small: 14px;
  --font-size-base: 16px;
  --font-size-large: 20px;
  font-family: monospace;
}

/* Dark Theme */
[data-theme="dark"] {
  --bg-color: #001129; /* Dark grey with a hint of purple */
  --secondary-bg-color: #003b52; /* Cream color */
  --secondary-color: rgba(0, 0, 0, 0.3); /* Grey for secondary elements */
  --text-color: #e0e0e0; /* Light text for dark theme */
  --primary-color: #70a7db; /* Lighter purple to complement the dark background */
}

/* General Styles */
body {
  font-family: monospace;
  color: var(--text-color);
  font-size: var(--font-size-base);
  margin: 0;
  background: linear-gradient(var(--bg-color) 80%, var(--secondary-bg-color));
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-blend-mode: hue;
  transition: background-color 0.3s, color 0.3s; /* Smooth theme transition */
  min-height: 100vh;
}

.content {
  padding: var(--spacing-small);
  @media (min-width: 768px) {
    padding: var(--spacing-medium);
  }
}

/* Buttons */
button {
  font-family: monospace;
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: var(--spacing-small) var(--spacing-medium);
  font-size: var(--font-size-base);
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s; /* Smooth button transition */
}

input,
select {
  font-family: monospace;
  font-size: 16px;
  background-color: var(--bg-color);
  border: 1px solid var(--primary-color);
  color: var(--text-color);
  padding: var(--spacing-medium);
  border-radius: var(--spacing-small);
}

input[type="checkbox"] {
  padding: none;
  margin: 0;
  justify-self: flex-start;
  width: min-content;
  width: 2rem;
  height: 2rem;
  accent-color: var(--primary-color);
}

textarea {
  font-family: monospace;
  font-size: 16px;
  background-color: var(--bg-color);
  border: 1px solid var(--primary-color);
  color: var(--text-color);
  padding: var(--spacing-medium);
  border-radius: var(--spacing-small);
  resize: vertical;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background-color: white;
  [data-theme="dark"] {
    background-color: black;
  }
}
select {
  -webkit-appearance: none;
  appearance: none;
}

select:disabled {
  color: var(--text-color);
  opacity: 1;
}

input::placeholder,
select::placeholder {
  color: var(--text-color);
}

a {
  font-family: monospace;
  color: var(--text-color);
  text-decoration: none;
}

a:hover,
button:hover {
  opacity: 0.6;
}

/* Headings */
h1,
h2,
h3 {
  color: var(--primary-color);
  margin-bottom: var(--spacing-medium);
}

/* Secondary elements like borders or background areas */
.secondary {
  background-color: var(--secondary-color);
  padding: var(--spacing-medium);
  border-radius: 4px;
  color: var(--text-color);
}

/* Example usage of spacing */
.section {
  margin-bottom: var(--spacing-large);
}

@media (max-width: 600px) {
  body {
    font-size: 14px; /* Adjust font size for mobile */
  }
  button {
    padding: 6px 12px; /* Adjust padding for buttons */
  }
}
